# vars for oython
USER_EMAIL="example@mail.ru"
CALENDAR_NAME="calendar"

REDMINE_KEY="some key"
REDMINE_URL="https://redmine/issues.json?project_id=1"

DB_USER="user"
DB_PASSWORD="passwd"
DB_HOST="localhost"
DB_PORT=5432
DB_DATABASE="redmine"


REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWD="passwd"