USER_EMAIL="example@example.ru"

ACCIDENTS_CALENDAR="SD_accidents"
EVENTS_CALENDAR="SD_events"

REDMINE_KEY=<>
REDMINE_URL="https://sd.talantiuspeh.ru"

DB_USER="user"
DB_PASSWORD="passwords"
DB_HOST="10.10.10.10"
DB_PORT=3306
DB_DATABASE="redmine_test"


REDIS_HOST="10.10.20.20"
REDIS_ACCIDENTS_PORT=16379
REDIS_EVENTS_PORT=26379
REDIS_PASSWD="password"